.extra {
	background-color: teal;
	padding-left: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar { 
	color: white;
	padding-top: 0px;
	padding-bottom: 0px;	
 }

 .plus {
 	padding-left: 40px;
 	padding-top: 50px;
 	font-size: x-large;
 }

.sweet {
	padding-left: 40px;
}

.title  {
	padding-top: 20px;
	padding-left: 30px;
}

.footer {
	align-items: right;
}

.heading {
	padding-top: 30px;
	padding-left: 40px;
}

.row {
	padding: 30px;
}

.icons {
	padding-left: 10px;
}

.pic {
    height: 80px;
}

